{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Key</title>
{% endblock %}

{% block body %}

    <div class="container">

        <div class="row">

            <div class="col-md-6 mx-auto bg-white mt-4 pb-2">

                <h3 class="mx-auto mt-2">Your Secret Key</h3>
                <span>Please keep this key safely <span class="text-danger text-sm">*</span></span>
                <hr>
                <pre style="height: 10%;"><strong><span id="key">{{key}}</span></strong></pre>
                <hr>
                <a href="{% url 'keeper-index' %}" class="btn btn-info">Home</a>
                <button class="btn btn-danger" onclick="clip()">Copy Key</button>

            </div>

        </div>

    </div>


    <script src="{% static 'JS/generate-key.js' %}"></script>


{% endblock %}