{% extends 'base.html' %}

{% block head %}
    
    <title>{{label}}</title>

{% endblock %}

{% block body %}


    <div class="container mt-4">

        <div class="card">
            <div class="card-header text-center">
                <span style="font-size:30px ;">
                    <strong>{{ label }}</strong>
                </span>
            </div>

            <div class="card-body">
                <h5 class="card-title"><strong>Your Password: </strong>{{ password }}</h5>
                <hr>
                <a href="{% url 'keeper-view-password' %}" class="btn btn-dark">Back</a>
            </div>

        </div>

    </div>

{% endblock %}