{% extends 'base.html' %}

{% block head %}
    <title>Your Passwords</title>
{% endblock %}

{% block body %}

<div class="container mt-4">

  <div class="row">

    <div class="col-md-6 mx-auto">
      <div class="card">

        <div class="card-header">
          <span style="font-size: 20px;"><strong>Your Passwords</strong></span>
        </div>

        {% for profile in profiles %}
          <div class="card-body border-bottom">
            <h5 class="card-title">{{ profile.password_label }}</h5>
            <button class="btn btn-info" data-toggle="modal" data-target="#viewP-{{ profile.id }}">View</button>
            <button class="btn btn-danger" data-toggle="modal" data-target="#viewD-{{ profile.id }}">Delete</button>
          </div>

          {% include 'partials/VP.html' %}
          {% include 'partials/DP.html' %}

        {% endfor %}

      </div>

    </div>

  </div>

</div>

{% endblock %}